@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: #d5ebf1;
}

.navbar {
    background-color: #ADD8E6 !important; /* Schimbă culoarea de fundal a navbar-ului */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: black !important; /* Schimbă culoarea textului din navbar în negru */
    font-family: 'Playfair Display', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: black !important; /* Schimbă culoarea textului la hover și focus în negru */
}

/* Mărește dimensiunea textului din link-urile navbar */
.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
}

/* Mărește dimensiunea iconițelor FontAwesome */
.navbar-light .navbar-nav .nav-link i {
    font-size: 20px;
    margin-right:5px; /* Adaugă spațiere între iconiță și text */
}

/* Adaugă spațiere între elementele navbar, dar elimină spațiul de la ultimul element */
.nav-item:not(:last-child) {
    margin-right: 20px; /* Ajustează această valoare pentru a controla spațierea între elemente */
}

/* Elimină spațiul din dreapta pentru ultimul element */
.nav-item:last-child {
    margin-right: 0;
}

.custom-navbar {
    width: auto; /* Asigură-te că lungimea este setată la auto pentru a permite elementelor să consume spațiu cât au nevoie */
    flex-grow: 1; /* Permite elementelor să ocupe tot spațiul disponibil */
    justify-content: center; /* Centrarea elementelor în container */
}

.navbar-brand, .navbar-nav .nav-link {
    display: flex;
    align-items: center; /* Aceasta asigură alinierea verticală corectă */
}

/* Ajustează alinierea elementului Logout */
.navbar-nav.ml-auto .nav-link {
    display: flex;
    align-items: center; /* Asigură alinierea verticală pentru elementele din dreapta */
}

/* Adaugă stiluri generale pentru link-urile navbar */
.navbar-light .navbar-nav .nav-link {
    position: relative;
    transition: all 0.3s ease; /* Asigură-te că tranziția este lină */
}

/* Aplică stilurile hover pentru toate link-urile care nu au clasa 'no-hover-effect' */
.navbar-light .navbar-nav .nav-item .nav-link:not(.no-hover-effect):hover::after,
.navbar-light .navbar-nav .nav-item .nav-link:not(.no-hover-effect):focus::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Poziționează linia sub text */
    left: 0;
    width: 100%; /* Asigură-te că linia ocupă întreaga lățime a link-ului */
    height: 2px; /* Setează înălțimea liniei */
    background-color: #000; /* Schimbă culoarea liniei */
    transition: all 0.3s ease;
}

.navbar-light .navbar-nav .nav-item .nav-link:not(.no-hover-effect)::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%; /* Începe cu linia nevizibilă */
    height: 2px;
    background-color: #000; /* Setează culoarea liniei */
    transition: width 0.3s ease, left 0.3s ease;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 25px !important;
    margin-top: 50px !important;
}

.alert-container {
    min-height: 60px; /* Setează înălțimea minimă a container-ului */
    margin-bottom: 20px; /* Adaugă spațiere între container și restul conținutului */
}

#fileNameDisplay {
    color: #000000;
    font-weight: bold;
}

.btn-add {
    background-color: #ADD8E6; /* Setează culoarea de fundal */
    color: black; /* Setează culoarea textului */
    border: 1px solid black; /* Setează culoarea border-ului */
    margin-top: 50px; /* Adaugă spațiere între input și buton */
    white-space: nowrap; /* Asigură că textul nu se va întrerupe */
}

.btn-add:hover {
    background-color: #87CEEB; /* Schimbă culoarea de fundal la hover */
    color: black; /* Schimbă culoarea textului la hover */
    border: 1px solid black; /* Schimbă culoarea border-ului la hover */
}