* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: #d5ebf1;
}

.img-full-height {
    height: 100vh;
    object-fit: cover;
}

.full-height-form {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-icon {
    position: absolute;
    right: 15px;
    top: calc(50% - 7.5px);
    cursor: pointer;
    z-index: 2;
}

.dark-mode {
    background-color: #1A2733;
    color: white;
}

.dark-mode a {
    color: white;
}

@media (min-width: 992px) { /* Bootstrap breakpoint for large devices */
    .img-full-height {
        width: 100%; /* Make the image cover the available width */
        object-fit: cover;
    }
}
